<launch>

    <arg name="port_imu" default="/dev/ttyACM0" />
    <arg name="bus_name" default="slcan0" />
    
    <!-- Begin velocity node -->
    <node pkg="sensors" type="velocity_node.py" name="velocity_node" />
    
    <!-- Node for velocity conversion to Twist -->
    <node pkg="sensors" type="velocity_conversion" name="velocity_conversion" />

    <!-- Begin IMU Node -->
    <!-- Load Calibration Parameters -->
    <rosparam command="load" file="$(find sensors)/config/imu0_calibration.yaml" ns="imu0/calibration" />
    <rosparam command="load" file="$(find sensors)/config/imu1_calibration.yaml" ns="imu1/calibration" />
    <!-- The arduino running this code should be an Arduino MEGA and be running "sensors/src/two_imu_msg_pub/two_imu_msg_pub.ino", see file for wiring -->
    <node pkg="rosserial_python" type="serial_node.py" name="imu_node">
        <param name="port" value="$(arg port_imu)" />
    </node>
    
    <!-- IMU0 Link Transform -->
    <!-- Distances
    x: -1.126
    y: 0
    z: 1.857 (frame height - (axle diameter / 2))
    -->
    <!-- IMU1 Link Transform -->
    <!-- Distances
    x: -1.545
    y: -0.477
    z: 1.857
    -->
    <node pkg="tf" type="static_transform_publisher" name="imu0_broadcaster" 
        args="-1.126 0 1.857 0 0 0 1 base_link imu0_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="imu1_broadcaster"
        args="-1.545 -0.477 1.857 0 0 0 1 base_link imu1_link 100" />
        
</launch>
