<launch>

    <arg name="port_imu" default="/dev/ttyACM0" />
    <arg name="port_steering" default="/dev/ttyACM1" />
    <!-- <arg name="port_accelerator" default="/dev/ttyACM2" /> -->
    <arg name="bus_name" default="slcan0" />
    
    <!-- Begin velocity node -->
    <!-- The arduino running this code can be an UNO or a MEGA and should be running "motion_testing/src/accelerator_read/accelerator_read.ino", see file for wiring -->
    <!-- <node pkg="rosserial_python" type="serial_node.py" name="accelerator_node_arduino"> -->
        <!-- <param name="port" value="$(arg port_accelerator)" /> -->
    <!-- </node> -->
    <node pkg="sensors" type="velocity_node.py" name="velocity_node" />
    
    <!-- Node for velocity conversion to Twist -->
    <node pkg="sensors" type="velocity_conversion" name="velocity_conversion" />

</launch>
