<launch>

    <arg name="port_imu" default="/dev/ttyACM0" />
    <arg name="port_steering" default="/dev/ttyACM1" />
    <!-- <arg name="port_accelerator" default="/dev/ttyACM2" /> -->
    <arg name="bus_name" default="slcan0" />

    <!-- Begin IMU Node -->
    <!-- The arduino running this code should be an Arduino MEGA and be running "sensors/src/imu_msg_pub/imu_msg_pub.ino", see file for wiring -->
    <rosparam file="$(find sensors)/config/imu_calibration.yaml" command="load" ns="imu/calibration" />
    <node pkg="rosserial_python" type="serial_node.py" name="imu_node">
        <param name="port" value="$(arg port_imu)" />
    </node>
    
    <!-- IMU link transform -->
    <!-- Distances
    x: -1.126
    y: 0
    z: 1.857 (frame height - (axle diameter / 2))
    -->
    <node pkg="tf" type="static_transform_publisher" name="imu_broadcaster" 
        args="-1.126 0 1.857 0 0 0 1 base_link imu_link 100" />
    
    <!-- Begin Steering Node -->
    <!-- The arduino running this code can be an UNO or a MEGA and should be running "motion_testing/src/steering_publish/steering_publish.ino", see file for wiring -->
    <node pkg="rosserial_python" type="serial_node.py" name="steering_node_arduino">
        <param name="port" value="$(arg port_steering)" />
    </node>
    <node pkg="sensors" type="steering_node" name="steering_node" />

</launch>
