<launch>

    <!-- Transform Generator -->
    <include file="$(find setup_tf)/launch/setup_tf_simulation.launch" />
    
    <!-- Begin Velocity Controller -->
    <node pkg="robust_navigation" name="velocity_controller_forward" type="velocity_controller_forward" output="screen">
        <remap from="/controls/velocity_setpoint" to="/velocity_node/velocity_setpoint" />
        <remap from="/controls/angle_setpoint" to="/steering_node/angle_setpoint" />
        <remap from="/bspline_path/path" to="/test_path_generator/test_path" />
    </node>
    
    <!-- Generate Test Path -->
    <node pkg="motion_testing" name="test_path_generator" type="test_path_generator.py" output="screen" />
    
    <!-- Generate Test Odom -->
    <node pkg="motion_testing" name="test_odom_generator" type="test_odom_generator.py" output="screen">
        <remap from="test_odom_generator/test_odom" to="odom" />
    </node>
    
</launch>
