<launch>
    
    <node pkg="sensors" type="twiststamped_to_covariance.py" name="twiststamped_to_covariance" output="screen">
        <remap from="twist_covariance" to="velocity_conversion/twist"/>
    </node>
    
    <node pkg="rosbag" type="play" name="rosbag_player" output="screen"
        args="-r 1 $(find motion_testing)/localization_bags/angle_90_right_2019-05-15-11-32-15.bag">
        <remap from="velocity_conversion/twist" to="twist_stamped"/>
    </node>
        
</launch>
